// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

ul.tab-bar>li.tab.of-highlight,
ul.tab-bar>li.tab.of-highlight:before,
ul.tab-bar>li.tab.of-highlight:after {
  background-color: @background-color-highlight;
}
.file-list .of-highlight:before {
  content: '';
  background-color: @background-color-highlight;
  position: absolute;
  left: 0;
  right: 0;
  height: 25px;
}

.file-list.opened-files {
  padding-left: 6px;
  width: 100%;
  background-color: @tree-view-background-color;
  border-bottom: 1px solid @syntax-wrap-guide-color;
  border-right: 1px solid @syntax-wrap-guide-color;
  >ol.list-tree {
    font-size: 11px;
    overflow: auto;
    height: 100%;
    span.icon {
      display:inline-block;
    }
    span.path {
      font-size: 0.9em;
      padding-left: 6px;
      color: @text-color-subtle;
    }
    span.name {
      font-size: 1.025em;
    }
    li.file {
      padding-left: 0;
    }
    .file>span.icon-x {
      position: relative;
      width: 0px;
      left: -16px;
      top: 0px;
      &.notHovered {
        color: @tree-view-background-color;
      }
    }
    .file.selected>span.icon-x.notHovered {
      color: @background-color-selected;
      text-shadow: none;
    }
    .directory {
      .icon-x {
        margin-left: .5em;
      }
    }
    .file {
      .icon-paintcan {
        margin-left: .5em;
      }
    }
  }
}
